/vendor
/web/core
/web/modules/contrib
/web/profiles/contrib
/web/themes/contrib
/web/libraries
/web/sites/*/files
/web/sites/*/private
/NOTNEEDED
/web/info.php
/dbs
*.zip
*.tar.gz
*.rar
*.7z
*.exe
*.dmg
*.iso
*.jar
